@import 'mixins';

$primary: #1f1d28;
$secondary: #0648fc;
$third: #4e4c4e;
$black: #000;
$white: #fff;
$text: #201f20;
$subtext: #a39fa2;

.question {
  @include flex(column, center, space-between, flex-start);

  padding: 2rem;
  background-color: $white;
  border-radius: 2rem;
  width: 50%;
  height: 80vh;
  max-height: 840px;

  color: $text;
  transition: width 200ms linear;

  @include media(1024px) {
    width: 70%;
    height: 70vh;
  }
  @include media(768px) {
    width: 100%;
  }
  @include media(425px) {
    padding: 2rem 1rem;
    border-radius: 1rem;
  }
  &__answer {
    // Not needed
  }
  &__answers {
    // Question container
    @include flex(column, flex-start, center, stretch);
    gap: 1rem;
    @include media(1366px) {
      gap: 0.5rem;
    }
  }

  &__buttons {
    @include flex(row, center, center, stretch);
    gap: 1rem;
    padding-top: 2rem;
    width: 100%;

    @include media(1366px) {
      padding-top: 1rem;
    }
  }
  &__button {
    cursor: pointer;
    padding: 1rem;
    border: 1px solid $secondary;
    border-radius: 1rem;
    transition: transform 200ms linear;

    &:hover {
      transform: scale(0.98);
      border: 1px solid $secondary;
    }

    &:active {
      transform: scale(1.1);
    }

    &--back {
      @include font(inherit, 600, inherit);
      border: none;
      @include flex(row, center, center, center);
    }

    &--next {
      @include font(inherit, 600, inherit);
      color: $white;

      background-color: $secondary;
      flex-grow: 1;
    }

    &--report {
      border: none;
      @include flex(row, center, center, center);
      &:hover {
        border: 1px solid #e94c3d;
      }
    }
  }

  &__container {
    // Card container
    @include flex(column, flex-start, center, stretch);
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  &__input {
    // Radial input
    cursor: pointer;
    display: none;
    border-radius: 0.4rem;

    // This is to check the answer but it doesnt say if is correct or incorrect
    // &:checked + label {
    //   background-color: rgba($color: $secondary, $alpha: 0.3);
    //   border: 2px solid $secondary;
    //   border-width: 2px;
    // }
  }
  &__label {
    cursor: pointer;
    @include flex(row, center, flex-start);
    gap: 1rem;
    padding: 1rem;

    border-radius: 0.5rem;
    border: 1px solid rgba($color: $third, $alpha: 0.5);
    font-weight: 500;

    cursor: pointer;
    transition: background-color 200ms linear;

    &--correct {
      background-color: rgba(61, 233, 78, 0.3);
      border: 2px solid #3de94e;
    }
    &--incorrect {
      background-color: rgba(233, 76, 61, 0.3);
      border: 2px solid #e94c3d;
    }

    @media (hover: hover) {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: 0.3);
        border-color: $secondary;
      }
    }
  }
  &__p {
    color: $text;
  }
  &__question {
    @include font(1.7rem, 600, normal);
    color: $text;
    white-space: pre-line;
    transition: all 200ms linear;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background: $subtext;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: $secondary;
    }

    @include media(425px) {
      font-size: 1.3rem;
    }
    @include media(1366px) {
      font-size: 1.3rem;
    }
  }
  &__subtitle {
    @include font(0.8rem, 400, normal);
    color: $subtext;
    align-self: flex-start;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
