@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: var(--primary);
  --primary: #1f1d28;
  --secondary: #0648fc;
  --third: #4e4c4e;
  --black: #000;
  --white: #fff;
  --text: #201f20;
  --subtext: #a39fa2;
  /* Tipografía */
  --tipo-principal: "Poppins", sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--white);
  background: var(--primary);
  /* (Opcional) */
  hyphens: none;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.question {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: #fff;
  border-radius: 2rem;
  width: 50%;
  height: 80vh;
  color: #201f20;
  transition: width 200ms linear;
}
@media (max-width: 1024px) {
  .question {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .question {
    width: 100%;
  }
}
.question__answers {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}
.question__buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding-top: 2rem;
  width: 100%;
}
.question__button {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #4e4c4e;
  border-radius: 1rem;
  width: 100%;
  transition: transform 200ms linear;
}
.question__button:hover {
  transform: scale(0.98);
  border: 1px solid #0648fc;
}
.question__button:active {
  transform: scale(1.1);
}
.question__button--back {
  font-family: Poppins;
  font-size: inherit;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
  border: none;
}
.question__button--next {
  font-family: Poppins;
  font-size: inherit;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: inherit;
  color: #fff;
  background-color: #0648fc;
}
.question__container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.question__input {
  cursor: pointer;
  display: none;
  border-radius: 0.4rem;
}
.question__input:checked + label {
  background-color: rgba(6, 72, 252, 0.3);
  border: 2px solid #0648fc;
  border-width: 2px;
}
.question__label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: _;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(78, 76, 78, 0.5);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 200ms linear;
}
.question__label:hover {
  background-color: rgba(6, 72, 252, 0.3);
}
.question__p {
  color: #201f20;
}
.question__question {
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: normal;
  color: #201f20;
  white-space: pre-line;
  transition: all 200ms linear;
  overflow: auto;
}
.question__question::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #a39fa2;
  border-radius: 20px;
}
.question__question::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #0648fc;
}
@media (max-width: 425px) {
  .question__question {
    font-size: 1.3rem;
  }
}
.question__subtitle {
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: normal;
  color: #a39fa2;
  align-self: flex-start;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #a39fa2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #0648fc;
}

.main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
  display: grid;
  place-items: center;
  padding: 0;
  transition: all padding 200ms linear;
}
@media (max-width: 760px) {
  .main {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .main {
    width: 95%;
  }
}

.section__question {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  transition: width, padding 200ms linear;
  height: 100vh;
  padding: 0;
}
@media (max-width: 760px) {
  .section__question {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .section__question {
    width: 100%;
  }
}

/*# sourceMappingURL=App.css.map */
